<form action="/show_user" method="post">
    <p>Name of user name:</p>
<select id="name" name="name">
  <%@users.each do |u| %>
    <option value=<%= u.name %>><%=u.name%></option>
  <% end %>
</select>
 <input type="submit" value="select">
</form>

